<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu um link para alterar sua senha. Você pode fazer isso através do link abaixo:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isto, por favor, ignore este email</p>
<p>Sua senha não será alterada enquanto você não acessar o link acima e criar uma Nova Senha.</p>
